@import "tailwindcss";
button{
  cursor: pointer;
}
*{
  outline: none;
}
/* Suavizar el fondo del lightbox */
.yarl__container {
  background-color: rgba(0, 0, 0, 0.658) !important; /* antes era 0.9 por defecto */
}
